 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px){
/* menu start */
.logo {
    width: 75%;
}
.menu ul li a{
    padding: 5px 0px !important;
}
.s_btn{
    padding: 0;
}
.mod_btn{
    margin-top: 10px;
}
/* slider start */
.s_item {
    margin: 80px 0;
    text-align: center;
}
.s_h1 {
    margin-bottom: 0;
    font-size: 40px;
}
.s_p {
    color: #ffffff;
    padding: 50px 0px 50px 0;
}
/* service start */
.service_item {
    margin-top: 60px;
}
.c_pipe {
    height: 30px;
}
.c_padd{
    padding-bottom: 60px;
}
.c_title h1 {
    font-size: 25px;
}
.service_h2 {
    margin: 30px 0 15px;
}
.service_p {
    margin: 15px 0 40px;
}
/* about su start */
.about{
    text-align: center;
}
.about_img {
    margin-bottom: 45px;
}
.about_right {
    padding: 0;
}
/* recent work start */
.recent_links ul li a {
    padding: 0px 0px;
}
.recent_img {
    text-align: center;
}
.recent_img img {
    padding: 0 15px;
}
/* why choose nipro start */
.nipro_padd {
    padding-bottom: 30px;
}
.upper_item i {
    font-size: 25px;
}
.nipro_h2 {
    margin: -9px 0 0 -15px;
    font-size: 17px;
}
.nipro_item p {
    margin: 20px 0;
}
/* who work with us start */
.p_text {
    padding: 15px 0px 15px 10px;
}
.service_h2 {
    font-size: 17px;
}
.p_text p {
    padding-top: 10px;
}
.work_person {
    margin-top: 40px;
}
/* best pricing start */
.price_item {
    margin-top: 50px;
}
/* nipro template start */
.template {
    margin-bottom: 60px;
    text-align: center;
    padding: 30px 0px;
}
.tem_right {
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
/* bottom slide start */
.c_padd {
    padding-bottom: 60px!important;
}
.bottom_slide {
    text-align: center;
    padding: 0px 15px;
}
.single_slide {
    padding: 10px 10px;
}
.btslide_img {
    padding-top: 20px;
}
.btslide_img i {
    top: 20%;
    right: 65%;
    font-size: 25px;
}
.btslide_text h1 {
    padding-top: 10px;
}
.btslide_text h2 {
    margin: 5px 0px;
    font-size: 16px;
}
.btslide_text h3 {
    font-size: 16px;
}
.btslide_text p {
    margin: 5px 0 0 0;
    line-height: 1;
}
/* form start */
.cform {
    margin-top: 30px;
}
.contact_items h1 {
    font-size: 25px;
    padding: 0 0px;
}
.name input {
    width: 100%;
    padding: 15px;
}
.name input:last-child {
    margin-left: 0;
}
.one {
    margin: 25px 0 35px;
    padding-left: 15px;
}
.two {
    padding-bottom: 30px;
    padding-left: 15px;
}
.form_btn {
    margin: 40px 0;
}
/* footer start */
.fbottom {
    text-align: center;
    line-height: 2;
}
.c_padd {
    padding-bottom: 60px!important;
}
.fbottom_left {
    margin-bottom: 10px;
}

}
 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px){
   /* menu start */
 .logo {
    width: 75%;
}
.menu ul li a{
    padding: 5px 0px !important;
}
.s_btn{
    padding: 0;
}
.c_padd {
    padding-bottom: 60px;
}
/* slider start */
.s_item {
    margin: 100px 0;
    text-align: center;
}
.s_h1 {
    margin-bottom: 0;
    font-size: 50px;
}
.s_p {
    color: #ffffff;
    padding: 50px 0px 50px 0;
}
/* service start */
.c_pipe {
    height: 30px;
}
.c_title h1 {
    font-size: 25px;
}
.service_h2 {
    margin: 30px 0 15px;
}
.service_p {
    margin: 15px 0 40px;
}
/* about su start */
.about{
    text-align: center;
}
.about_img {
    margin-bottom: 45px;
}
.about_right {
    padding: 0;
}
/* recent work start */
.recent_links ul li a {
    padding: 15px 5px;
}
.recent_img {
    text-align: center;
}
.recent_img img {
    width: 100%;
}
/* why choose nipro start */
.upper_item i {
    font-size: 25px;
}
.nipro_h2 {
    margin: -9px 0 0 -15px;
    font-size: 17px;
}
.nipro_item p {
    margin: 30px 0;
}
/* who work with us start */
.p_text {
    padding: 15px 0px 15px 10px;
}
.service_h2 {
    font-size: 17px;
}
.p_text p {
    padding-top: 10px;
}
.work_person {
    margin-top: 60px;
}
/* best pricing start */
.price_item {
    margin-top: 70px;
}
/* nipro template start */
.template {
    padding: 30px 0px;
}
.tem_right a {
    padding: 15px 10px 15px 10px;
}
.tem_right a i {
    padding-left: 0px;
}
/* bottom slide start */
.c_padd {
    padding-bottom: 60px!important;
}
.bottom_slide {
    text-align: center;
    padding: 0px 40px;
}
.single_slide {
    padding: 40px 10px;
}
.btslide_img {
    padding-top: 20px;
}
.btslide_img i {
    top: 20%;
    right: 65%;
    font-size: 25px;
}
.btslide_text h1 {
    padding-top: 10px;
}
.btslide_text h2 {
    margin: 5px 0px;
    font-size: 16px;
}
.btslide_text h3 {
    font-size: 16px;
}
.btslide_text p {
    margin: 5px 0 0 0;
    line-height: 1;
}
/* form start */
.cform {
    margin-top: 30px;
}
.name input {
    width: 47%;
}
.one {
    margin: 25px 0 35px;
}
.two {
    padding-bottom: 30px;
}
.form_btn {
    margin: 40px 0;
}
/* footer start */
.fbottom {
    text-align: center;
    line-height: 2;
}
.c_padd {
    padding-bottom: 60px!important;
}

}

 /* Medium devices (tablets, 768px and up) */
 @media (min-width: 768px) and (max-width: 991.98px){
 /* menu start */
 .logo {
    width: 80%;
}
/* slider start */
.s_item {
    margin: 100px 0;
}
.s_h1 {
    margin-bottom: 0;
    font-size: 50px;
}
.s_p {
    color: #ffffff;
    padding: 50px 0px 50px 0;
}
.c_padd {
    padding-bottom: 80px;
}
/* about su start */
.about{
    text-align: center;
}
.about_img {
    margin-bottom: 45px;
}
.about_right {
    padding: 0;
}
/* who work with us start */
.p_text {
    padding: 15px 0px 15px 10px;
}
.service_h2 {
    font-size: 17px;
}
.p_text p {
    padding-top: 10px;
}
.work_person {
    margin-top: 60px;
}
/* best pricing start */
.price_item {
    margin-top: 70px;
}
/* bottom slide start */
.single_slide {
    padding: 40px 10px;
}
.btslide_img {
    padding-top: 30px;
}
.btslide_img i {
    top: 25%;
    right: 75%;
    font-size: 25px;
}
.btslide_text h2 {
    margin: 5px 0px;
    font-size: 16px;
}
.btslide_text h3 {
    font-size: 16px;
}
.btslide_text p {
    margin: 5px 0 0 0;
    line-height: 1;
}
/* form start */
.name input {
    width: 47%;
}
/* footer start */
.fbottom {
    text-align: center;
    line-height: 2;
}
}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px){
/* slider start*/
.s_h1 {
    font-size: 50px;
}
.s_p {
    color: #ffffff;
    padding: 50px 0px 50px 0;
}
/* service start */
.c_pipe {
    height: 40px;
}
.c_title h1 {
    font-size: 28px;
}
/* about us start */
.about_right p {
        margin: 20px 0 40px;
        font-size: 14px;

}

/* who work with us start */
.p_text {
    padding: 15px 0px 15px 10px;
}
.service_h2 {
    font-size: 17px;
}
.p_text p {
    padding-top: 10px;
}
/* best pricing start */
.price_inneritem {
    padding: 50px 15px;
}
/* bottom slide start */
.btslide_text p {
    line-height: 1;
}

}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px){

}
/* Extra extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px){

}